body{
    color:inherit;
}

.progress{
    margin:300px auto;

}

.progress img{
    width: 80px;
    margin-bottom: 20px;
}

ul{
    text-align: center;
}

ul li {
    display: inline-block;
    width: 200px;
}
