@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;600&display=swap');

:root{
  --violetaOscuro: #7B6092;
  --violetaSemi:#9C73FF;
  --colorcitoGris:#f5f5f5;
}

*{
	font-family: 'Baloo Paaji 2', cursive;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

body{
	background: var(--colorcitoGris);
}

a:hover{
  text-decoration: none;
}

.links > a {
    color: var(--violetaOscuro);
    padding: 0 25px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.card-header {
	background-color: #9C73FF !important;
	color: #FFF;
}

.top_navbar{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background: #fff;
	box-shadow: 1px 0 2px rgba(0,0,0,0.125);
	display: flex;
	align-items: center;
    z-index: 999;
}

.top_navbar .logo{
	width: 250px;
	font-size: 25px;
	font-weight: 600;
	padding: 0 25px;
	color: var(--violetaSemi);
	letter-spacing: 2px;
	text-transform: uppercase;
	border-right: 1px solid var(--colorcitoGris);
}

.top_navbar .logo span{
	font-weight: 400;
}

.top_navbar .menu{
	width: calc(100% - 250px);
	padding: 0 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.top_navbar .hamburger{
	font-size: 25px;
	cursor: pointer;
	color: var(--violetaOscuro);
}

.top_navbar .hamburger:hover{
	color: var(--violetaSemi);
}

.top_navbar .menu .profile_wrap{
	padding-left: 25px;
	border-left: 1px solid var(--colorcitoGris);
}

.top_navbar .menu .profile img{
	width: 25px;
	height: 25px;
}

.top_navbar .menu .profile{
	display: flex;
	align-items: center;
	cursor: pointer;
}

.top_navbar .menu .profile .name{
	margin: 0 15px;
}

.hover_collapse .sidebar{
	width: 70px;
}

.hover_collapse .sidebar ul li a .text{
	display: none;
}

.sidebar{
	position: fixed;
	top: 60px;
	left: 0;
	width: 250px;
	height: 100%;
	background: var(--violetaOscuro);
    z-index: 999 !important;
}

.sidebar ul li a, .sidebar ul div li a {
	display: block;
	padding: 12px 25px;
	border-bottom: 1px solid var(--violetaSemi);
	color: var(--violetaSemi);
	transition: all 0.2s ease;
}

.sidebar ul li a .icon{
	font-size: 18px;
	vertical-align: middle;
	transition: background 0.2s ease;
}

.sidebar ul li a .text{
	margin-left: 10px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.sidebar ul li a:hover{
	background: var(--violetaSemi);
	color: #fff;
}

.click_collapse .sidebar{
	transition: all 0.2s ease;
}

.main_container{
	margin-top: 60px;
	margin-left: 70px;
	padding: 25px;
	width: calc(100% - 70px);
}

.main_container{
	background: #fff;
	padding: 25px;
	margin-bottom: 25px;
	text-align: justify;
}

.click_collapse .main_container{
	width: calc(100% - 250px);
	margin-left: 250px;
	transition: all 0.2s ease;
}

/*login*/

.wave{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}

.img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.img img{
	width: 500px;
}

.contenedor{
    width: 100vw;
    height: calc(100vh - 150px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
	position:relative;
    margin-top: 75px;
}

.login-content{
    position: relative;
    top: 100px;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.button-login{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px !important;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #7B6092, #38d39f, #7B6092);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
	text-align: center;
}

.button-login:hover{
	background-position: center;
}

/*--------------------------
   TABLAS
-------------------------*/

table{
    background-color: white;
    text-align: center;
    border-collapse: collapse;
    width: 100%;
}

th, td{
    padding: 20px;
    vertical-align: middle !important;
}

thead{
    background-color: #9C73FF;
    border-bottom: solid 5px #7B6092;
    color: white;
}

tr:nth-child(even){
    background-color: #ddd;
}

tr:hover td{
    background-color:#CC99FF; ;
    color: white;
}


/*--------------------------
   SELECT2
-------------------------*/

.select2-selection__rendered {
    line-height: 38px !important;
}

.select2-container .select2-selection--single {
    height: 38px !important;
}

.select2-selection__arrow {
    height: 36px !important;
}

.select2-selection__clear {
    position: relative !important;
    top: 6px !important;
    left: -15px !important;
}

.fade {
    transition: opacity 0.5s linear !important;
}
